body{
  font-size: 14px;
  

}
i{
  color: blue;
}
header.containe {
  width: 1024px;
  margin: 0 auto;
  border: 1px solid;
  

}
header {
  border-radius: 20px;
  background-color: rgba(49, 18, 18, 0.33);
  display: flex;
  justify-content: space-between;
}
.nom{
  margin-block-start: 1em;
    margin-block-end: 1em;
    width: 300px;

}
div#logo {
  text-decoration: blink;
  font-family: sans-serif;
  font-size: 1.8em;
  font-weight: 900;
}
#slogan {
  font-size: 1.3em;
  font-weight: 8;
  font-style: italic;
  font-family: verdana;
}
div#tel {
  font-weight: bold;
}
div#email {
  font-weight: bold;
  }

.logimg {
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: right;
}

input[type="text"] {
  width: 300px;
  height: 20px;
}
button {
  background: orange;
}

main{
  width: 1024px;
  margin: 0 auto;
  border: 1px solid
}